.main {
    background-color: lightgrey;
    width: 50%;
    border: 50px solid gray;
    padding: 25px;
    margin: 25px;
}
.clear{
    padding:0px;
    margin: 0px;
}
img{
    height: 150px;
}
form {
  text-align: center;
}
.calcTabs {
  overflow: hidden;
  background-color: white;
  font-family: Arial;
}

/* Links inside the navbar */
.calcTabs a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.Physics {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.Physics .Physicsbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.calcTabs a:hover, .Physics:hover .Physicsbtn {
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.Physics:hover .dropdown-content {
  display: block;
}
