		body {
			background: rgb(44,47,51);
			margin:0px;
			padding:0px;
		}
		.buttons {
  			background-color: #696969;
  			color: white;
  			padding: 16px;
  			font-size: 16px;
  			border: none;
		}
		.calcTabs {
			  overflow: hidden;
			  background-color: white;
			  font-family: Arial;
		}
		.calcTabs a:hover{
  			background-color: gray;
		}
		.calcTabs a {
			  float: left;
			  font-size: 16px;
			  color: black;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
		}
		.parallax {
			background-image: url("portfolioBackground.png");
			min-height: 930px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
            position: relative;
            min-height: 750px;
            padding:0px;
            margin:0px;
		}
		.storyTitle{
		    padding: 15px;

		    margin-top: 15px;
            margin-left: 25%;
            margin-bottom: 0px;
            margin-right: 25%;
		    background-color: white;
		    display: block;
		    width:650px;
		    font-size:45px;
		    border-radius: 25px;
            border: 2px solid white;
            color: #2c2c2c;
                            background-color: white;
                            letter-spacing: .05em;
                            text-shadow:
                              1px 2px 0px #d5d5d5,
                              2px 2px 0px rgba(0, 0, 0, 0.2);
                              font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

                                moz-box-shadow:    inset 0 0 10px #000000;
                                webkit-box-shadow: inset 0 0 10px #000000;
                                box-shadow:         inset 0 0 10px #000000;
                                border-color: gray;
                                text-align: center;
                                text-transform: uppercase;
                                text-rendering: optimizeLegibility;
		}

		.story{
		    box-shadow: 0 5px 3px #777;
            margin-top: 0px;
            margin-left: 15px;
            margin-bottom: 15px;
            margin-right: 15px;
            padding: 15px;
            width:600px;
            display: block;
            font-size:25px;
            border-radius: 25px;
            border: 2px solid white;
            color: #2c2c2c;
                background-color: #d5d5d5;
                letter-spacing: .05em;
                text-shadow:
                  1px 2px 0px #d5d5d5,
                  2px 2px 0px rgba(0, 0, 0, 0.2);
                  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

                    padding: 80px 50px;
                    text-align: center;
                    text-transform: uppercase;
                    text-rendering: optimizeLegibility;

		}
        .AboutTitle{
            color: gray;
            font-size: 55px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: 0px -7px 0px gray inset;

            background-color: white;
            margin: 0px;
            padding: 15px;
            text-align: center;

        }
        .AboutTitle:after{
        top: -15px;
          left: -15px;
          right: -15px;
          background:black;
        }
		.masterbody {
			
			padding:0px 225px;
			
		}
		.box:hover
		{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			box-shadow: inset 0 0 0 15px #53a7ea;

		}
		.boxd{
		    background-color: light-gray;
		    text-align: center;
            margin: auto;
            position: center;
		}

		.box{
			transition:all 0.5s ease;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			animation: swing 1s ease;
			position: center;
			width: 300px;
			box-shadow: 10px black;
			border-radius: 25px;
			border: 5px rgb(44,47,51);
			padding: 50px;
			background: gray;
			text-align: center;
			margin: auto;
			background-size: cover;
		}
		.boxc:hover
		{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			box-shadow: inset 0 0 0 15px #53a7ea;

		}
		.boxc{
			transition:all 0.5s ease;
			animation: swing 1s ease;
			position: center;
			width: 300px;
			border: 5px rgb(44,47,51);
			padding: 50px;
			background: gray;
			text-align: center;
			margin: auto;
			background-size: cover;
			color: white;
		}

		.PhotoTitle{
			margin: auto;
			font-size: 24px;
			text-align: center;
			color: aliceblue;
		}
		.PhotoEdit{
			background-image: url("ps.png");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
			padding-top: 5px;
		}
		.About{
		    background-image: url("About.png");
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
            padding-top: 5px;
            float:left;
            margin:0px;
            right: 0;
            left: 0;
		}
		.EXP{
		    text-align:left;
		}
		.PersonalInfo{
                		    background-attachment: fixed;
                            			background-position: center;
                            			background-repeat: no-repeat;
                            			background-size: 100% 100%;
                            			box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
                            			padding-top: 5px;
        		}
		.Java{
			background-image: url("javaLogo.jpg");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
			padding-bottom: 5px;
			padding-top: 5px;
		}


		.JavaTitle{
			margin: auto;
			font-size: 24px;
			text-align: center;
			color: aliceblue;
		}
					
		.buttons1 {
  			background-color: #696969;
  			color: white;
  			padding: 16px;
  			font-size: 16px;
  			border: none;
		}

		.downloadable {
			width:100%;
			min-height:1000px;
			height:100%;
		}
		downloadbtn:hover {
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
			-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		}
		.downloadbtn {
			color: #fff !important;
			text-transform: uppercase;
			text-decoration: none;
			background: #ed3330;
			padding: 20px;
			border-radius: 5px;
			cursor: pointer;
			display: inline-block;
			border: none;
			transition: all 0.4s ease 0.5s;
		}
		.projectsbox {
  			position: relative;
  			display: inline-block;
			bottom:50px;
			
		}

		.ListArea {
  			display: none;
  			position: absolute;
  			background-color: #f1f1f1;
  			min-width: 80px;
  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  			z-index: 1;
		}

		.ListArea a {
  			color: black;
  			padding: 12px 16px;
  			text-decoration: none;
  			display: block;
		}
		.ButtonRow button{
			

		#h02 {
			
		}
			
		}
		.ButtonRow {
			position:relative;
			top:-10px;
			padding: 0px 52px;
			min-height:10px;
			height:75px;
			display:relative;
			border:solid 1px;
			background-color:#2E9CCA;
		}
			
		
		.title {
			position:relative;
			top:10px;
			font-size: 45px;
			font-family:Impact;
		}

		#h01 {
			text-align:center;
			font-family:Helvetica;
			border-bottom:solid;
			
		}


		#h03 {
			text-align:center;
		}

		.ListArea a:hover {background-color: #ddd;}
		
		.buttons1:after{content:" \25BC"}
		
		.buttons1:hover:after{content:" \25B2"}

		.projectsbox:hover .ListArea {display:block;}
		
		.projectsbox:hover:after .buttons1 {content:"Personal Projects \25B2"}

		.projectsbox:hover .buttons {background-color: #3e8e41;}
		
		.projectsbox:hover .buttons1 {background-color: #3e8e41;}
