		body {
			background: rgb(44,47,51);
			margin:0px;
			padding:0px;
		}
		.buttons {
  			background-color: #696969;
  			color: white;
  			padding: 16px;
  			font-size: 16px;
  			border: none;
		}
		.calcTabs {
		      z-index:1000;
			  overflow: hidden;
			  background-color: #f1f1f1;
			  font-family: Arial;
			  width:98%;
			  margin:10px;
			  margin-top:0px;
			  text-align:center;
			  position:fixed;
			  border-radius:10px;
		}
		.calcTabs a:hover{
  			background-color: gray;
              color: white;
		}
		.calcTabs a {
			  float: left;
			  font-size: 20px;
			  color: #000;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
		}
		.parallax {
			background-image: url("portfolioBackground.png");
			height: 900px;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
            position: relative;
            padding:0px;
            margin:0px;
		}
		.storyTitle{
		    padding: 15px;
		    margin-top: 100px;
            margin-left: 125px;
            margin-bottom: 0px;
            margin-right: 125px;
		    background-color: white;
		    width:650px;
		    font-size:45px;
		    border-radius: 25px;
            border: 2px solid white;
            color: #2c2c2c;
             background-color: white;
             letter-spacing: .05em;
             text-shadow:
             1px 2px 0px #d5d5d5,
             2px 2px 0px rgba(0, 0, 0, 0.2);
             font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
             box-shadow:         inset 0 0 10px #000000;
             border-color: gray;
             text-transform: uppercase;
             text-rendering: optimizeLegibility;
			text-align: center;
			position:center;
			display: inline-block;
		}

		.story{
		    box-shadow: 0 5px 3px #777;
            margin-top: 0px;
            margin-left: 15px;
            margin-bottom: 15px;
            margin-right: 15px;
            padding: 15px;
            width:600px;
            display: inline-block;
            font-size:25px;
            border-radius: 25px;
            border: 2px solid white;
            color: #2c2c2c;
                background-color: #d5d5d5;
                letter-spacing: .05em;
                text-shadow:
                  1px 2px 0px #d5d5d5,
                  2px 2px 0px rgba(0, 0, 0, 0.2);
                  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
                    padding: 80px 50px;
                    text-align: center;
                    text-transform: uppercase;
                    text-rendering: optimizeLegibility;
		}
        .AboutTitle{
            color: gray;
            font-size: 55px;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: 0px -7px 0px gray inset;
            background-color: white;
            margin: 0px;
            padding: 15px;
            text-align: center;
        }
        .AboutTitle:after{
        top: -15px;
          left: -15px;
          right: -15px;
          background:black;
        }
		.masterbody {
			padding:0px 225px;
		}
		.box:hover
		{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			box-shadow: inset 0 0 0 15px #53a7ea;

		}
		.boxd{
		    background-color: light-gray;
		    text-align: center;
            margin: auto;
            position: center;
		}
		.box{
			transition:all 1s ease;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			position: center;
			width: 50vw;
			height: 25%;
			box-shadow: 10px black;
			border-radius: 25px;
			border: 10px gray;
			padding: 50px;
			padding-top:0px;
			background: gray;
			text-align: center;
			margin: auto;
			background-size: cover;

		}
		.boxc:hover
		{
			-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
			transform: scale(1.3);
			box-shadow: inset 0 0 0 25px #53a7ea;

		}
		@keyframes slidein {
          from { transform: scaleX(0); }
          to   { transform: scaleX(1); }

        }
        @keyframes slidein {
                  from { opacity: 1;}
                  to { opacity:0;}
                }
		.boxc{
			transition:all 0.5s ease;
			animation: swing 1s ease;
			position: center;
			width: 300px;
			border: 5px rgb(44,47,51);
			padding: 50px;
			background: gray;
			text-align: center;
			margin: auto;
			background-size: cover;
			color: white;
		}

		.PhotoTitle{
			margin: auto;
			font-size: 24px;
			text-align: center;
			color: aliceblue;
		}
		.PhotoEdit{
			background-image: url("ps.png");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
			padding-top: 5px;
		}
		.About{
		    background-image: url("About.png");
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
            padding-top: 5px;
            padding-bottom: 25px;
            margin:0px;
            right: 0;
            left: 0;
		}

		.EXP{
		    text-align:left;
		}
		.PersonalInfo{
                		    background-attachment: fixed;
                		    background-color:rgb(53, 56, 54);
                            			background-position: center;
                            			color:#d3d3d3;
                            			background-repeat: no-repeat;
                            			background-size: 100% 100%;
                            			box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
                            			padding: 5px;
                            			margin:0px;
                            			margin-top:0px;
                            			font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

        		}
		.Java{
			background-image: url("projects.png");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
			padding-bottom: 5px;
			padding-top: 5px;
		}


		.JavaTitle{
			margin: auto;
			font-size: 24px;
			text-align: center;
			color: aliceblue;
		}
					
		.buttons1 {
  			background-color: #696969;
  			color: white;
  			padding: 16px;
  			font-size: 16px;
  			border: none;
		}

		.downloadable {
			width:100%;
			min-height:1000px;
			height:100%;
		}
		downloadbtn:hover {
			text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
			-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		}
		.downloadbtn {
			color: #fff !important;
			text-transform: uppercase;
			text-decoration: none;
			background: #ed3330;
			padding: 20px;
			border-radius: 5px;
			cursor: pointer;
			display: inline-block;
			border: none;
			transition: all 0.4s ease 0.5s;
		}
		.projectsbox {
  			position: relative;
  			display: inline-block;
			bottom:50px;
		}

		.sideNav{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 1s;
            opacity:0.95;
            padding-top: 60px;
		}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
		.sideNav a{
		    padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 40px;
            color: #f2f2f2;
            display: block;
            transition: 0.3s;
		}
		.sideNav a:hover{
		    color:#f1f1f1;
		    background-color:#4D4D4D;
		    cursor:pointer;
		}

		.sideNav .closeBtn{
		    position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            text-align:center;
		}

		.ListArea {
  			display: none;
  			position: absolute;
  			background-color: #f1f1f1;
  			min-width: 80px;
  			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  			z-index: 1;
		}

		.ListArea a {
  			color: black;
  			padding: 12px 16px;
  			text-decoration: none;
  			display: block;
		}
		.ButtonRow button{
			

		#h02 {
			
		}
			
		}
		.ButtonRow {
			position:relative;
			top:-10px;
			padding: 0px 52px;
			min-height:10px;
			height:75px;
			display:relative;
			border:solid 1px;
			background-color:#2E9CCA;
		}
			
		
		.title {
			position:relative;
			top:10px;
			font-size: 45px;
			font-family:Impact;
		}

		#h01 {
			text-align:center;
			font-family:Helvetica;
			border-bottom:solid;
			
		}


		#h03 {
			text-align:center;
		}

		.ListArea a:hover {background-color: #ddd;}
		
		.buttons1:after{content:" \25BC"}
		
		.buttons1:hover:after{content:" \25B2"}

		.projectsbox:hover .ListArea {display:block;}
		
		.projectsbox:hover:after .buttons1 {content:"Personal Projects \25B2"}

		.projectsbox:hover .buttons {background-color: #3e8e41;}
		
		.projectsbox:hover .buttons1 {background-color: #3e8e41;}
